<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="../WEB-INF/templates/layout.xhtml">
    <ui:param name="title123" value="Examen 1"/>
    <ui:define name="content">
        <h:form id="frmPrincipal">
            <h:outputLabel value="Registro de Datos "></h:outputLabel>
            <table>
                <tr>
                    <td>
                        <!--<h:outputLabel id="lblNombre" value="Nombre: "></h:outputLabel>-->
                        <h:outputLabel id="lblIsbn" value="ISBN"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxIsbn" value="#{libro.isbn}" required="true" requiredMessage="Campo requerido" />
                        <h:message for="itxIsbn" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel id="lblAutor" value="Autor"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxAutor" value="#{libro.autor}" required="true" requiredMessage="Campo requerido">
                            <f:validator validatorId="longitudValidator"/>
                        </h:inputText>
                        <h:message for="itxAutor" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel id="lblGenero" value="Género"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxGenero" value="#{libro.genero}" required="true" requiredMessage="Campo requerido" >
                            <f:validator validatorId="longitudValidator"/>
                        </h:inputText>
                        <h:message for="itxGenero" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel id="lblIdioma" value="Género"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxIdioma" value="#{libro.idioma}" required="true" requiredMessage="Campo requerido" >
                            <f:validator validatorId="longitudValidator"/>
                        </h:inputText>
                        <h:message for="itxIdioma" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel id="lblAño" value="Año de publicación"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxAño" value="#{libro.año}" required="true" requiredMessage="Campo requerido" />
                        <h:message for="itxAño" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel id="lblPais" value="País de publicación"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxPais" value="#{libro.pais}" required="true" requiredMessage="Campo requerido" />
                        <h:message for="itxPais" style="color: red"/>
                    </td>
                </tr>
            </table>
            <h:commandButton value="Registrar" action="#{registroBean.registrar()}" />
        </h:form>
        <h:outputLabel value="#{registroBean.mensaje}"/>
    </ui:define>
    <ui:define name="xhtml">
        
        Inicio XHTML
        
    </ui:define>
    <ui:define name="java">
        
        Inicio JAVA
        
    </ui:define>
</ui:composition>

