<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/templates/layout.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:param name="title123" value="Gestión de profesores"/>
    <ui:param name="titleListado" value="Listado de profesores"/>
    <ui:define name="content">
        <h2>Gestión de Profesores</h2>
    </ui:define>
    <ui:define name="listado">
        <h:form>
            <table>
                <tr>
                    <td>RFC:</td>
                    <td>
                        <h:inputText value="#{profesorBean.profesorNuevo.rfc}"/>
                    </td>
                </tr>
                <tr>
                    <td>Apellido Paterno:</td>
                    <td>
                        <h:inputText value="#{profesorBean.profesorNuevo.apellidoPaterno}"/>
                    </td>
                </tr>
                <tr>
                    <td>Apellido Materno:</td>
                    <td>
                        <h:inputText value="#{profesorBean.profesorNuevo.apellidoMaterno}"/>
                    </td>
                </tr>
                <tr>
                    <td>Nombre:</td>
                    <td>
                        <h:inputText value="#{profesorBean.profesorNuevo.nombre}"/>
                    </td>
                </tr>
                <tr>
                    <td>Dirección:</td>
                    <td>
                        <h:inputText value="#{profesorBean.profesorNuevo.direccion}"/>
                    </td>
                </tr>
                <tr>
                    <td>Teléfono:</td>
                    <td>
                        <h:inputText value="#{profesorBean.profesorNuevo.telefono}"/>
                    </td>
                </tr>
            </table>
            <br/>
            <h:commandButton value="REGISTRAR">
                <f:ajax listener="#{profesorBean.registrarProfesor()}" execute="@form" render="@form"/>
            </h:commandButton>
            <h:commandButton value="MODIFICAR">
                <f:ajax listener="#{profesorBean.modificarProfesor()}" execute="@form" render="@form"/>
            </h:commandButton>
            <br/>
            <br/>
            <h:dataTable value="#{profesorBean.profesores}" var="profesor" border="1">
                <h:column>
                    <f:facet name="header">RFC</f:facet>
                    <h:outputLabel value="#{profesor.rfc}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Apellido Paterno</f:facet>
                    <h:outputLabel value="#{profesor.apellidoPaterno}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Apellido Materno</f:facet>
                    <h:outputLabel value="#{profesor.apellidoMaterno}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Nombre</f:facet>
                    <h:outputLabel value="#{profesor.nombre}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Dirección</f:facet>
                    <h:outputLabel value="#{profesor.direccion}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Teléfono</f:facet>
                    <h:outputLabel value="#{profesor.telefono}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Acciones</f:facet>
                    <h:commandButton value="EDITAR">
                        <f:ajax listener="#{profesorBean.seleccionarProfesor(profesor)}" execute="@form" render="@form"/>
                    </h:commandButton> 
                    <h:commandButton value="ELIMINAR" onclick="if (! confirm('¿Está seguro de eliminar el profesor?')) return false">
                        <f:ajax listener="#{profesorBean.eliminarProfesor(profesor)}" execute="@form" render="@form"/>
                    </h:commandButton>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>
</ui:composition>

