<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--<f:view locale=""></f:view>-->
        <h:form id="frmPrincipal">
            <h:outputLabel value="Registro de Datos "></h:outputLabel>
            <table>
                <tr>
                    <td>
                        <!--<h:outputLabel id="lblNombre" value="Nombre: "></h:outputLabel>-->
                        <h:outputLabel id="lblNombre" value="#{msjs['indexForm.nombre']}"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxNombre" value="#{persona.nombre}" converter="lowerCaseConverter" required="true" valueChangeListener="#{indexBean.cambiarNick}" onchange="this.form.submit()" />
                        <h:message for="itxNombre" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="lblApellido" value="#{msjs['indexForm.apellido']}"></h:outputLabel></td>
                    <td>
                        <h:inputText id="itxApellido" value="#{persona.apellido}" required="true" requiredMessage="Campo requerido">
                            <f:ajax listener="#{indexBean.cambiarNickAjax()}" render="@form"/>
                        </h:inputText>
                        <h:message for="itxApellido" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputLabel id="lblNick" value="Nick"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxNick" value="#{persona.nick}" required="true"></h:inputText>
                        <h:message for="itxNick" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.edad']}"></h:outputLabel></td>
                    <td>
                        <!--<h:inputText id="itxEdad" value="#{persona.edad}" converter="javax.faces.Integer" validatorMessage="Edad fuera de rango">-->
                        <h:inputText id="itxEdad" value="#{persona.edad}" converter="javax.faces.Integer">
                            <f:validateLongRange maximum="100" minimum="18"/>
                        </h:inputText>
                        <h:message for="itxEdad" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.sexo']}"></h:outputLabel></td>
                    <td>
                        <h:selectOneMenu value="#{persona.sexo}">
                            <f:selectItem itemValue="M" itemLabel="Masculino"></f:selectItem>
                            <f:selectItem itemValue="F" itemLabel="Femenino"></f:selectItem>
                        </h:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.email']}"></h:outputLabel></td>
                    <td>
                        <h:inputText id="itxEmail" value="#{persona.email}">
                            <f:validator validatorId="emailValidator"/>
                        </h:inputText>
                        <h:message for="itxEmail" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.ip']}"></h:outputLabel></td>
                    <td>
                        <h:inputText id="itxIp" value="#{persona.ip}">
                            <f:validator validatorId="ipValidator"/>
                        </h:inputText>
                        <h:message for="itxIp" style="color: red"/>
                    </td>
                </tr>
            </table>
            <h:commandButton value="Procesar" action="#{indexBean.procesar()}"/>
            <h:commandButton value="Cambiar idioma" action="#{indexBean.cambiarIdioma()}" immediate="true"/>
            <c:forEach items="#{indexBean.errores}" var="error">
                <br/><h:outputLabel value="#{error}"/>
            </c:forEach>
        </h:form>
    </h:body>
</html>

