<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>PERFIL</h1>
            <table>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.nombre']}"/></td>
                    <td><h:outputLabel value="#{persona.nombre}"/></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.apellido']}"/></td>
                    <td><h:outputLabel value="#{persona.apellido}"/></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.edad']}"/></td>
                    <td><h:outputLabel value="#{persona.edad}"/></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.sexo']}"/></td>
                    <td><h:outputLabel value="#{persona.sexo}"/></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.email']}"/></td>
                    <td><h:outputLabel value="#{persona.email}"/></td>
                </tr>
                <tr>
                    <td><h:outputLabel value="#{msjs['indexForm.ip']}"/></td>
                    <td><h:outputLabel value="#{persona.ip}"/></td>
                </tr>
            </table>
        </h:form>
    </h:body>
</html>

