<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <table>
                <tr>
                    <td>Id</td>
                    <td><h:inputText value="#{usuarioBean.usuarioNuevo.id}" />
                    </td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td><h:inputText value="#{usuarioBean.usuarioNuevo.nombre}" />
                    </td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td><h:inputText value="#{usuarioBean.usuarioNuevo.apellido}" />
                    </td>
                </tr>
                <tr>
                    <td>e-mail</td>
                    <td><h:inputText value="#{usuarioBean.usuarioNuevo.email}" />
                    </td>
                </tr>
                <tr>
                    <td>Login</td>
                    <td><h:inputText value="#{usuarioBean.usuarioNuevo.login}" />
                    </td>
                </tr>
            </table>
            <h:dataTable value="#{usuarioBean.usuarioNuevo.roles}" var="rol" border="1">
                <h:column>
                    <f:facet name="header">Código</f:facet>
                    <h:outputLabel value="#{rol.codRol}"/>
                </h:column><h:column>
                    <f:facet name="header">Descripción</f:facet>
                    <h:outputLabel value="#{rol.descripcion}"/>
                </h:column>
            </h:dataTable>
            <h:commandButton value="REGISTRAR">
                <f:ajax listener="#{usuarioBean.registrarUsuario}" execute="@form" render="@form"/>
            </h:commandButton>
            <h:commandButton value="ACTUALIZAR">
                <f:ajax listener="#{usuarioBean.actualizarUsuario}" execute="@form" render="@form"/>
            </h:commandButton>
            <h:dataTable id="dtUsuarios" value="#{usuarioBean.usuarios}" var="usuario" border="1">
                <h:column>
                    <f:facet name="header">id</f:facet>
                    <h:outputText value="#{usuario.id}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Nombre</f:facet>
                    <h:outputText value="#{usuario.nombre}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Apellido</f:facet>
                    <h:outputText value="#{usuario.apellido}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Login</f:facet>
                    <h:outputText value="#{usuario.login}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">e-mail</f:facet>
                    <h:outputText value="#{usuario.email}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Acciones</f:facet>
                    <h:commandButton value="EDITAR">
                        <f:ajax listener="#{usuarioBean.seleccionarUsuario(usuario)}" execute="@form" render="@form"/>
                    </h:commandButton>
                    <h:commandButton value="BORRAR" onclick="if (! confirm('¿Realmente desea borrar este usuario?')) return false">
                        <f:ajax listener="#{usuarioBean.eliminarUsuario(usuario)}" execute="@form" render="@form"/>
                    </h:commandButton>
                </h:column>

            </h:dataTable>
            
            <h:outputLink value="#{request.contextPath}/logout">SALIR</h:outputLink>
            <!--<c:forEach items="#{usuarioBean.usuarios}" var="usuario">
                <h:outputLabel value="#{usuario.nombre}"/>
                <h:outputLabel value="#{usuario.apellido}"/>
                <br/>
            </c:forEach>-->
        </h:form>
    </h:body>
</html>

