<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="../WEB-INF/templates/layout.xhtml">
    <ui:param name="title123" value="Showcase"/>
    <ui:define name="content">
        <h:form>
            <h:outputLabel for="smlPaises" value="Seleccione un país"/>
            <h:selectManyListbox id="smlPaises" value="#{selectManyListboxBean.paisesSeleccionados}">
                <f:selectItems value="#{selectManyListboxBean.paises}"/>
            </h:selectManyListbox>
        </h:form>
    </ui:define>
    <ui:define name="xhtml">
        <code>
            <h:inputTextarea value="#{selectManyListboxBean.textoXHTML}" style="width: 100%; height: 300px;" />
        </code>
    </ui:define>
    <ui:define name="java">
        <code>
            <h:inputTextarea value="#{selectManyListboxBean.textoJAVA}" style="width: 100%; height: 300px;" />
        </code>
    </ui:define>
</ui:composition>

