<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Examen 1</title>
    </h:head>
    <h:body>
        <h:form id="frmPrincipal">
            <table>
                <tr>
                    <td>
                        <h:outputLabel id="lblUser" value="#{msjs['indexForm.user']}"></h:outputLabel>
                    </td>
                    <td>
                        <h:inputText id="itxUser" value="#{usuario.user}" required="true" requiredMessage="Campo requerido">
                            <f:validator validatorId="userValidator"/>
                        </h:inputText>
                        <h:message for="itxUser" style="color: red"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="lblPassword" value="#{msjs['indexForm.password']}"></h:outputLabel></td>
                    <td>
                        <h:inputSecret id="itxPassword" value="#{usuario.password}" required="true" requiredMessage="Campo requerido" />
                        <h:message for="itxPassword" style="color: red"/>
                    </td>
                </tr>
            </table>
            <h:commandButton value="#{msjs['indexForm.entrar']}" action="#{indexBean.procesar()}"/>
            <h:commandButton value="#{msjs['indexForm.cambiarIdioma']}" action="#{indexBean.cambiarIdioma()}" immediate="true"/>
        </h:form>
    </h:body>
</html>

